.sign {
    font-family: Neuton !important;
    color: black !important;
}

.sign1 {
    font-family: Neuton !important;
    color: black !important;
    margin-left: 140px !important;
    margin-top: 30px !important;
}

.sign2 {
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    color: black !important;
    text-decoration: none !important;
}